.container {
  background-color: rgba(255, 255, 255, 0.9);
  min-width: max(200px, 85%);
  min-height: 100px;
  margin: 2rem;
  cursor: pointer;
  // display: flex;
}
.content {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 1rem;
  }
  .avatar {
    flex-shrink: 0;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    top: 0;
    left: 0;
    background-image: url('../../../assets/profile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .user-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 1rem;
    div:first-child {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
    div:last-child {
      font-size: 14px;
      color: grey;
    }
  }
}
