<div
  style.border-radius="{{ borderRadius }}px"
  style.font-size=" {{ fontSize }}px "
  class="container"
>
  <div class="content" (click)="openDialog()">
    <div class="header">
      <div class="avatar" [style.background-image]="userData.imgUrl"></div>
      <div class="user-info">
        <div>{{ userData.name }}</div>
        <div>@{{ userData.userAt }}</div>
      </div>
    </div>
    <div class="body">
      {{ !text.length ? 'Sua frase aparecerá aqui.' : text }}
    </div>
  </div>
</div>
