.form {
  mat-form-field {
    width: 100%;
  }
}

.img-container {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  flex-shrink: 0;
  position: relative;
  background-image: url('../../../assets/profile.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-self: center;
  margin: 0 auto 1rem auto;
  cursor: pointer;

  .icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #e6e6e6;

    position: absolute;
    bottom: -4px;
    right: -4px;
    font-size: 10px;
    color: #2e0a0a;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.save-button {
  flex: 1;
  margin-bottom: 1rem;
}
