.container {
  display: flex;
  height: 93vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../assets/background.jpg');

  max-width: 770px;
  max-height: 770px;
  flex-grow: 1;

  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .tweet {
    width: 100%;
  }

  @media (max-width: 500px) {
    margin: 0;
  }
}

.tweet-controls-container {
  margin: 2rem 1rem;
  padding: 1rem;
  max-height: 300px;
  max-width: 500px;
  align-self: center;
  flex-grow: 1;

  @media (max-width: 450px) {
    margin: 2rem 0;
  }

  mat-form-field {
    width: 100%;
  }

  .text-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    .mat-button {
      margin: 0 1rem;
      width: 48px;
      height: 48px;
    }
    mat-icon {
      transform: scale(1.2);
      color: #666666;
    }
  }

  .slider-controls {
    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .mat-slider {
      width: 50%;
    }
  }
  .save-button {
    text-align: right;
  }
}

// hidden-div related
#hidden-div {
  width: 1080px;
  height: 1080px;
  max-width: 1080px;
  max-height: 1080px;
  background-color: coral;
  box-shadow: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  // z-index: -1;
  display: none;

  .tweet-container {
    background-color: rgba(255, 255, 255, 0.9);
    width: 1000px;
    min-height: 200px;
    display: flex;
    margin: 2rem;
  }
  .content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 30px;
  }
  .avatar {
    flex-shrink: 0;
    border-radius: 50%;
    width: 85px;
    height: 85px;
    top: 0;
    left: 0;
    background-image: url('../../assets/profile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .user-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 1rem;
    div:first-child {
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
    div:last-child {
      font-size: 20px;
      color: grey;
    }
  }

  .tweet-body {
    width: 100%;
  }
}
