.container {
  display: flex;
  height: 93vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../assets/background.png');

  max-width: 770px;
  max-height: 770px;
  flex-grow: 1;

  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .tweet {
    width: 100%;
  }

  @media (max-width: 450px) {
    margin: 0;
  }
}

.tweet-controls-container {
  margin: 2rem 1rem;
  padding: 1rem;
  max-height: 300px;
  max-width: 500px;
  align-self: center;
  flex-grow: 1;

  @media (max-width: 450px) {
    margin: 2rem 0;
  }

  mat-form-field {
    width: 100%;
  }

  .text-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    .mat-button {
      margin: 0 1rem;
      width: 48px;
      height: 48px;
    }
    mat-icon {
      transform: scale(1.2);
      color: #666666;
    }
  }

  .slider-controls {
    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .mat-slider {
      width: 50%;
    }
  }
  .save-button {
    text-align: right;
  }
}
