.container {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.tweet-container {
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(https://i.pinimg.com/originals/de/f6/96/def69643889ee29e232637646e839064.jpg);

  min-width: 700px;
  min-height: 600px;
  max-width: 600px;
  max-height: 600px;

  // width: 500px;
  // height: 500px;
  border: 1px solid black;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tweet-controls-container {
  padding: 1rem;
  border: 1px solid black;

  .text-controls {
    .mat-button {
      margin: 0 1rem;
      width: 48px;
      height: 48px;
    }
    mat-icon {
      transform: scale(1.2);
      color: #666666;
    }
  }

  .slider-controls {
    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  mat-form-field {
    width: 100%;
  }
  .save-button {
    text-align: right;
  }
}
